*{
   padding: 0;
   border: 0;
   
}
html, body{
    width: 100%;
    height: 100%;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: burlywood;
}
nav #menuList{
    position: absolute;
    top: 70px;
    left: auto;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: burlywood;
    overflow: hidden;
    transition: 0.5s;
}
.hover-funktion{
     padding: 20px;
     width: 300px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}
.hover-funktion:hover{
background: rgb(170, 142, 104);
}
@media (max-width: 600px){
    nav #menuList{
        left: -50px;  
    }
    .hover-funktion{
        width: 100%;
    }
    nav{
    position: relative;
    }
}

