*{
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: burlywood;
    position: relative;
   
}
nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: burlywood;
    gap: 0;
    overflow: hidden;

}
nav ul li{
    padding: 20px;
    
}

